@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.body1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;
}
.body2 {
    min-height: 100vh;
    background: #f7f7f7;
}
.sections-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.section1 {
    flex: 0 0 auto; /* Fixed height for section1 */
    background-color: #fff;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.1);
}
.section2 {
    flex: 1; /* Allow section2 to occupy remaining space */
    overflow-y: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 20px;
}
.chats-wrapper {
    background: #ffff;
    width: 800px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgb(0, 0, 0, 0.1);
}
.inbox-wrapper {
    background: #ffff;
    width: 800px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgb(0, 0, 0, 0.1);
}
.signup-wrapper {
    background: #ffff;
    width: 520px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgb(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}
.login-wrapper {
    background: #ffff;
    width: 420px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgb(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}
.posts-wrapper {
    background: #ffff;
    width: 800px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgb(0, 0, 0, 0.1);
}
.comments-wrapper {
    background: #ffff;
    width: 800px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgb(0, 0, 0, 0.1);
}
.profile-wrapper {
    background: #ffff;
    width: 800px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgb(0, 0, 0, 0.1);
}



/* Navigation CSS _______________________________________________________________________ */

nav {
    background-color: #333;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 70px;
    align-items: center;
}
.logo-box {
    flex: 1;
    max-width: 100px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-image {
    width: 60%;
    height: 60px;
    object-fit: cover;
}
.navbar {
    flex: 1;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    font-family: Arial, sans-serif;
    height: 60px;
}
.navbar a {
    display: block;
    min-width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 15px 10px;
    color: white;
    cursor: pointer;
}
.navbar a:hover {
    background-color: white;
    color: black;
    /* border-radius: 3px; */
}
.profile-box {
    flex: 1;
    max-width: 500px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.profile-image {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    /* cursor: pointer; */
}
.profile-names {
    text-align: end;
    width: 400px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin-right: 10px;
}
 .logout {
    color: #fff;
    font-size: 20px;
    padding: 7px 10px;
    background: #363636;
}



/* Sign up And Login Forms CSS ___________________________________________________________*/
.form {
    padding: 30px;
}
.form header {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6a1;
    margin-bottom: 20px;
}
.form form .error-txt {
    color: #721c72;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    display: none;
}
.form form .name-details {
    display: flex;
}
form .name-details .field:first-child {
    margin-right: 10px;
}
form .name-details .field:last-child {
    margin-left: 10px;
}
.form form .field {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}
.form form .field input {
    outline: none;
}
.form form .field label {
    margin-bottom: 2px;
}
.form form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form form .image input {
    font-size: 17px;
}
.form form .button input {
    margin-top: 13px;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    background: #363636;
    color: #ffff;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}
.form form .field i {
    color: #333;
    position: absolute;
    right: 15px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}
.form form .field i.active::before {
    color: #000;
    content: "\f070";
}
.form .link {
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
}
.form .link a {
    color: #c50d66;
}
.form .link a:hover {
    text-decoration: underline;
}



/* Chats CSS _______________________________________________________________*/
.chats {
    padding: 25px 30px;
}
.chats header,
.chats-list a {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    /* border-bottom: 1px solid #e6e6e6; */
}
.chats-wrapper img {
    object-fit: cover;
    border-radius: 50%;
}
:is(.chats, .chats-list) .content{
    display: flex;
    align-items: center;
}

:is(.chats, .chats-list) .details {
    color: #000;
    margin-left: 15px;
}
:is(.chats, .chats-list) .details span {
    font-size: 18px;
    font-weight: 500;
}
.chats header .logout {
    color: #fff;
    font-size: 17px;
    padding: 7px 15px;
    background: #363636;
    border-radius: 5px;
}
.chats .search {
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
}
.chats .search .text {
    font-size: 18px;
}
.chats .search input {
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1px solid #cccccc60;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}
.chats .search input.active {
    opacity: 1;
    pointer-events: auto;
}
.chats .search button {
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    color: #363636;
    background: #fff;
    cursor: pointer;
    font-size: 17px;
    border-radius: 0 5px 5px 0;
    transition: all 0.2s ease;
}
.chats .search button.active {
    color: #fff;
    background: #363636;
}
.chats .search button.active i::before {
    content: "\f00d";
}
.chats-list {
    max-height: 400px;
    overflow-y: auto;
}
/* :is(.chats-list, .chat-box)::-webkit-scrollbar {
    width: 0px;
} */
.chats-list a {
    margin-bottom: 5px;
    page-break-after: 10px;
    padding-right: 15px;
    border-bottom-color: #f1f1f1;
}
.chats-list a:last-child {
    border: none;
    margin-bottom: 0px;
}
.chats-list a .content img {
    height: 40px;
    width: 40px;
}
.chats-list a .content p {
    color: #67676a;
}
.chats-list a .status-dot {
    font-size: 12px;
    color: #c50d66;
}
/* This class is used in php to show offline status __________________________________________*/
.chats-list a .status-dot.offline {
    color: #ccc;
}



/* Inbox CSS  __________________________________________________________________________________*/
.inbox-wrapper img {
    object-fit: cover;
    border-radius: 50%;
}
.chat-area header {
    display: flex;
    align-items: center;
    padding: 18px 30px;
}
.chat-area header .back-icon {
    font-size: 20px;
    color: #333;
}
.chat-area header img {
    height: 45px;
    width: 45px;
    margin: 0 15px;
}
.chat-area header span {
    font-size: 17px;
    font-weight: 500;
}
.chat-box {
    height: 380px;
    overflow-y: auto;
    background: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
                inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}
.chat-box .chat {
    margin: 15px 0;
}
.chat-box .chat p {
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
                0 16px 16px -16px rgb(0 0 0 / 10%);
}
.chat-box .outgoing {
    display: flex;
}
.outgoing .details {
    margin: auto;
    margin-right: 0%;
    max-width: calc(100% - 130px);
}
.outgoing .details p {
    background: #363636;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}
.chat-box .incoming {
    display: flex;
    align-items: flex-end;
}
.chat-box .incoming img {
    height: 35px;
    width: 35px;
    margin-bottom: 5px;
}
.incoming .details {
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 150px);
}
.incoming .details p {
    color: #333;
    background: #fff;
    border-radius: 18px 18px 18px 0;
}

.chat-area .typing-area {
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}
.typing-area input {
    height: 45px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.typing-area button {
    width: 55px;
    border: none;
    outline: none;
    font-size: 20px;
    color: #fff;
    background: #363636;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}



/* Create Post CSS ____________________________________________________________________________ */
.posts {
    padding: 25px 30px;
}
:is(.posts) .content{
    display: flex;
    align-items: center;
}
.posts header .content img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.posts header {
    display: flex;
    align-items: start;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}
.posts header .create-post {
    background-color: #363636;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    min-width: 680px;
    border-radius: 25px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}
.posts header .create-post.active {
    border-radius: 10px;
}

.post-header {
    display: block;
    margin-top: 5px;
}
.post-header .error-txt {
    color: #721c72;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    display: none;
}
.post-header .success-txt {
    color: #1c725c;
    background: #afffca;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #8eeed6;
    display: none;
}
.post-header .post-form {
    display: none;
    transition: all 0.2s ease;
}
.post-header .post-form.active {
    display: block;
}
.post-header .post-form textarea {
    display: block;
    color: #333;
    font-size: 16px;
    min-width: 680px;
    border-radius: 5px;
    padding: 20px;
    border: #ccc 2px solid;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    margin-bottom: 10px;
    resize: none;
}
.post-header .post-form textarea::-webkit-scrollbar {
    width: 0px;
}
.post-header .post-media {
    position: relative;
    display: inline-block;
    padding: 10px 0;
}


.post-header .post-form .post-btn {
    background-color: #363636;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    width: 150px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    /* margin: 0 auto; */
    display: block;
    transition: 0.3s all ease;
}
.post-header .post-form .post-btn:hover {
    opacity: 0.8;
}



/* Posts CSS _________________________________________________________________ */
.title-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.posts-title {
    padding: 10px 10px 0 10px;
	margin: 1px;
    font-size: 22px;
}
.posts-list .loadMoreButton {
    padding: 10px 10px 0 10px;
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    color: #363636;
    background: #fff;
    cursor: pointer;
    font-size: 20px;
    border-radius: 0 5px 5px 0;
    transition: all 0.2s ease;
    margin-bottom: 10px;
}
.posts-list .loadMoreButton:hover i {
    box-shadow: 0 0 10px #363636;
}

.post-body {
    padding: 10px 10px 20px 10px;
	color: rgb(0, 0, 0);
	border: 1px solid rgb(221, 221, 221);
	min-height: 100px;
	display: flex;
}
.post {
    width: 120px;
	padding: 10px;
	color: rgb(0, 0, 0);
	text-align: center;
}
.post-image {
    width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 50%;
}
.post-names {
    padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
}
.post-details {
    width: 100px;
	padding: 10px;
	background-color: rgb(239, 239, 239);
	color: rgb(0, 0, 0);
	flex: 1 1 1%;
}
.post-time {
    padding-left: 10px;
	padding-right: 10px;
	margin: 1px;
    padding-bottom: 5px;
    border-bottom: #ccc 1px solid;
}
/* Images and video Display */
.media-display {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
}
.media-display .media-image {
    max-width: 100%;
    height: auto; 
    margin-top: 5px;
    padding: 5px; 
    background-color: white;
    max-height: 500px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);  */
}
.media-display video{
    width: 100%;
    margin-top: 5px;
    padding: 5px; 
    background-color: white;
}
.post-message-box {
    padding: 5px;
}
.post-comments {
    padding: 5px;
	color: rgb(0, 0, 0);
	display: flex;
	cursor: pointer;
    border-top: 1px solid #d4d4d4;
}
.post-comments a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.post-comments i {
    font-size: 25px;
}
.post-comments-text {
    padding: 0 5px;
	display: inline-block;
}



/* Comments CSS ____________________________________________________________________________ */

.post-view .back-icon {
    font-size: 20px;
    color: #333;
}

.post-view img {
    height: 45px;
    width: 45px;
    margin: 0 15px;
    object-fit: cover;
    border-radius: 50%;
}
.post-view span {
    font-size: 18px;
    font-weight: 500;
}
.post-view {
    display: flex;
    align-items: center;
    padding: 0 0 10px 0;
}
.post-and-commets .post-body2 {
    padding: 10px 10px 20px 10px;
	color: rgb(0, 0, 0);
	border: 1px solid rgb(221, 221, 221);
	min-height: 100px;
	display: flex;
}
.post-and-commets .post-details2 {
    width: 100px;
	padding: 10px;
	background-color: rgb(239, 239, 239);
	color: rgb(0, 0, 0);
	flex: 1 1 1%;
}
.post-and-commets .post-time2 {
    padding-left: 15px;
	padding-right: 15px;
	margin: 1px;
    padding-bottom: 5px;
    border-bottom: #ccc 1px solid;
}
.post-and-commets .post-message-box2 {
    padding: 5px 10px;
}

.comments {
    padding: 25px 30px;
}
.post-and-commets {
    height: 380px;
    overflow-y: auto;
}
.comments-list {
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
                inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}
.comments-title {
    padding: 10px 10px 0 30px;
	margin: 1px;
    font-size: 20px;
}
.comment-body {
    padding: 10px 10px 20px 10px;
	color: rgb(0, 0, 0);
	border: 1px solid rgb(221, 221, 221);
	min-height: 100px;
	display: flex;
}
.comment {
    width: 120px;
	padding: 10px;
	color: rgb(0, 0, 0);
	text-align: center;
}
.comment-image {
    width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 50%;
}
.comment-names {
    padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
}
.comment-details {
    width: 100px;
	padding: 10px;
	background-color: rgb(239, 239, 239);
	color: rgb(0, 0, 0);
	flex: 1 1 1%;
}
.comment-time {
    padding-left: 10px;
	padding-right: 10px;
	margin: 1px;
}
/* Post in a comments page CSS */
.comment-media-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comment-media-display .comment-media-image {
    max-width: 100%;
    height: auto; 
    margin-top: 5px;
    padding: 5px; 
    background-color: white;
    max-height: 280px;
}
.comment-media-display video{
    width: 100%;
    margin-top: 5px;
    padding: 5px; 
    background-color: white;
    max-height: 280px;
}

.comment-message-box {
    padding: 5px;
}
.comment-area {
    padding: 18px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.comment-area .input-comment {
    height: 45px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.comment-area .comment-btn {
    width: 70px;
    border: none;
    outline: none;
    font-size: 20px;
    color: #fff;
    background: #363636;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}



/* Profile Setting CSS _______________________________________________________________ */
.profile-setting {
    padding: 25px 30px 15px 30px;
}
.profile {
    padding: 0 10px 0 10px;
	/* background-color: rgb(237, 237, 237); */
	color: rgb(0, 0, 0);
	text-align: center;
}
.profile .error-txt {
    color: #721c72;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    display: none;
}
.profile .profile-back {  
    background-image: url('../assets/studio.jpg');
    background-size: cover;
    padding: 15px;
    border-radius: 10px;
}

.profile .profile-picture {
    width:200px;
	height:200px;
	object-fit: cover;
    border-radius: 50%;
}
.profile .picture-input {
    display: none;
}
.profile-details {
    padding: 10px;
	color: rgb(0, 0, 0);
	text-align: left;
}
.profile-details .profile-fullnames {
    display: flex;
	margin-top:4px;
	margin-bottom: 4px;
	padding: 4px;
	align-items: center;
    border-radius: 5px;
}
.profile-fullnames .profle-labels {
    min-width: 50px;
    padding-left: 10px;
	width: 113px;
}
.profile-fullnames .profile-input {
	/* width: 100%; */
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
    outline: none;
	background-color: #fff;
	background-clip: padding-box;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: .375rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-bottom: 1px solid #ced4da;
}

.profile-details .profile-info {
    display: flex;
	margin-top:4px;
	margin-bottom: 4px;
	padding: 8px 15px 8px 4px;
	align-items: center;
    border-radius: 5px;
	/* background-color: #F7F7F7FF; */
}
.profile-info .profle-labels {
    min-width: 50px;
	padding-left: 10px;
	width: 113px;
}
.profile-info .profile-input {
	width: 100%;
	padding: .375rem .400rem;
    margin-left: 15px;
    outline: none;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* border-radius: .375rem; */
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-bottom: 1px solid #ced4da;
}

/* Button CSS */
.profile-buttons {
    padding: 20px 4px 60px 4px;
}
.profile-buttons .profile-save {
    width: 100px;
    cursor: pointer;
	font-size:16px;
	padding: 10px;
	border:none;
	color:#FFFFFF;
	background-color:#363636;
	border-radius:6px;
	margin: 4px 2px;
    display: none;
}
.profile-buttons .profile-edit {
    width: 100px;
    cursor: pointer;
	font-size:16px;
	padding: 10px;
	border:none;
	color:#FFFFFF;
	background-color:#363636;
	border-radius:6px;
	margin: 4px 2px;
	float:right;
    display: inline;
}
/* Buttons Active CSS */
.profile-buttons.active {
    padding: 20px 4px 0 4px;
}
.profile-buttons .profile-save.active {
    display: inline;
}